.header-top {
  background-color: #daa520;
}

.logo-name {
  margin-top: 40px;
  font-weight: bold;
  font-size: 30px;
  line-height: 35px;
  color: #6379f4;
}

.form-search {
  width: 100%;
}

.button-add {
  width: 100px;
  margin-top: 40px;
  font-weight: bolder;
  background-color: #6379f4 !important;
}

.table thead th {
  border-bottom: unset !important;
}

.table td,
.table th {
  border-top: unset !important;
}

.table-tb {
  text-align: center;
  font-size: 20px;
}

.table-head {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
}

.td-btn1 {
  width: 200px;
  padding: 30px;
}

.btn-edit {
  width: 85px;
  font-weight: bolder;
  margin-right: 5px;
  background-color: #6379f4 !important;
  border-color: unset !important;
}

.delete-href {
  width: 85px;
  padding: 8px 13px 8px 13px;
  font-size: 15px;
  border-radius: 3px;
  font-weight: bolder;
  margin-right: 5px;
  color: #fff;
  border-color: unset !important;
}

.delete-href {
  width: 85px;
  padding: 8px 13px 8px 13px;
  font-size: 15px;
  border-radius: 3px;
  font-weight: bolder;
  margin-right: 5px;
  color: #333;
  background-color: #6379f4;
  border-color: unset !important;
}

.delete-href:hover {
  color: #fff;
}

.btn-detail {
  width: 85px;
  font-weight: bolder;
  background-color: #6379f4 !important;
  border-color: unset !important;
  margin-right: 5px;
}

.btn-info {
  font-weight: bolder !important;
}

.table-scroll {
  overflow-y: auto;
  height: 400px;
}
.table-scroll thead th {
  height: 50px;
  padding-left: 10px;
  position: sticky;
  top: 0;
  background-color: #6379f4;
  color: #fff;
  text-align: center;
  font-size: 20px;
}

.table-scroll::-webkit-scrollbar {
  display: none !important;
}

.total-user {
  background-color: rgba(13, 103, 206, 0.3);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  min-height: 120px;
}

.photo-user {
  width: 30%;
  float: left;
}

.total-data {
  padding-left: 100px;
  padding-top: 40px;
  font-size: 30px;
  font-weight: bold;
  color: #5c4e4e;
}

.page-link {
  border: unset solid #6379f4 !important;
  padding: 0.5rem 2.75rem !important;
}

.pagination-individu {
  justify-content: center;
  font-weight: bold !important;
}

@media screen and (min-width: 280px) and (max-width: 575px) {
  .logo-name {
    text-align: center;
    margin-top: 40px;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    color: #6379f4;
  }

  .form-search {
    width: 100%;
  }

  .button-add {
    margin: auto;
    display: block !important;
    width: 100px;
    margin-top: 40px;
    font-weight: bolder;
    background-color: #6379f4 !important;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .photo-user {
    width: 45%;
    float: left;
  }

  .total-data {
    padding-left: 100px;
    padding-top: 40px;
    font-size: 19px;
    font-weight: bold;
    color: #5c4e4e;
  }
}

@media screen and (min-width: 491px) and (max-width: 767px) {
  .photo-user {
    width: 15%;
    float: left;
  }

  .total-data {
    padding-left: 100px;
    padding-top: 30px;
    font-size: 19px;
    font-weight: bold;
    color: #5c4e4e;
  }

  .total-user {
    background-color: rgba(13, 103, 206, 0.3);
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    min-height: 90px;
  }
}

@media screen and (min-width: 400px) and (max-width: 490px) {
  .photo-user {
    width: 20%;
    float: left;
  }

  .total-data {
    padding-left: 100px;
    padding-top: 30px;
    font-size: 19px;
    font-weight: bold;
    color: #5c4e4e;
  }

  .total-user {
    background-color: rgba(13, 103, 206, 0.3);
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    min-height: 90px;
  }
}

@media screen and (min-width: 300px) and (max-width: 398px) {
  .photo-user {
    width: 23%;
    float: left;
  }

  .total-data {
    padding-left: 100px;
    padding-top: 28px;
    font-size: 21px;
    font-weight: bold;
    color: #5c4e4e;
  }

  .total-user {
    background-color: rgba(13, 103, 206, 0.3);
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    min-height: 85px;
  }
}

@media screen and (min-width: 280px) and (max-width: 299px) {
  .photo-user {
    width: 30%;
    float: left;
  }

  .total-data {
    padding-left: 100px;
    padding-top: 30px;
    font-size: 25px;
    font-weight: bold;
    color: #5c4e4e;
  }

  .total-user {
    background-color: rgba(13, 103, 206, 0.3);
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    min-height: 90px;
  }
}
