.total-user-detail {
  border-radius: 5px;
}

.total-user-detail-text {
  background-color: #fefefe;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  padding: 5px;
  padding-left: 20px;
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: bold;
  font-family: "Nunito Sans", sans-serif;
}

.photo-user-detail {
  width: 100%;
}

.total {
  background-color: #fff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
}

.total-text {
  padding: 20px 0px 20px 20px;
}

.total-text p {
  margin-bottom: unset !important;
}

.btn-edit-user-bottom {
  margin: auto !important;
  margin-top: 15px !important;
  margin-right: 10px !important;
  width: 85px;
  font-weight: bolder;
  margin-right: 5px;
  background-color: #6379f4 !important;
  border-color: unset !important;
}

.input-photo{
  padding: 0px !important;
}

.btn-edit-user-bottom-photo {
  margin: auto !important;
  margin-top: 15px !important;
  margin-right: 10px !important;
  width: 110px;
  font-weight: bolder;
  margin-right: 5px;
  background-color: #6379f4 !important;
  border-color: unset !important;
}

.btn-edit-user {
  margin: auto !important;
  display: block !important;
  margin-top: 15px !important;
  width: 85px;
  font-weight: bolder;
  margin-right: 5px;
  background-color: #6379f4 !important;
  border-color: unset !important;
}

.delete-href-detail {
  width: 85px;
  padding: 8px 13px 8px 13px;
  font-size: 15px;
  border-radius: 3px;
  font-weight: bolder;
  margin-right: 5px;
  color: #fff;
  background-color: #6379f4;
  border-color: unset !important;
}

.delete-href-detail:hover {
  color: #fff;
}

.total-user-detail-text-btn {
  text-align: center;
  background-color: #fefefe;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  padding: 20px;
  font-size: 15px;
  font-weight: bold;
  font-family: "Nunito Sans", sans-serif;
}

@media screen and (min-width: 700px) and (max-width: 991px) {
  .detail-user-password{
    font-size: 90%;
  }
}

@media screen and (min-width: 515px) and (max-width: 699px) {
  .detail-user-password{
    font-size: 85%;
  }
}

@media screen and (min-width: 482px) and (max-width: 514px) {
  .detail-user-password{
    font-size: 80%;
  }
}

@media screen and (min-width: 423px) and (max-width: 481px) {
  .detail-user-password{
    font-size: 65%;
  }
}

@media screen and (min-width: 250px) and (max-width: 418px) {
  .detail-user-password{
    font-size: 40%;
  }
}
