.phone input:focus {
    border: none;
    border-bottom: 1px solid#6379F4;
    outline: none;
}

.btn-phone {
    width: 433px;
}

@media screen and (max-width:578px) {
    .btn-phone {
        width: 90%;
        position: absolute;
        bottom: 10px;
    }
}