.content-main {
    flex: 1;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
    border-radius: 25px;
    padding: 30px;
    box-sizing: border-box;
}

input {
    border-radius: 12px;
    background-color: rgba(58, 61, 66, 0.1);
    width: 100%;
    outline: none;
    border: transparent;
    padding: 15px;
    box-sizing: border-box;
}

input:focus {
    border: transparent;
}

input[type=search]::-webkit-search-cancel-button{
    cursor: pointer;
}

.input input {
    padding-left: 50px;
}

input::placeholder {
    color: rgba(58, 61, 66, 0.4);
}

.input {
    position: relative;
    margin-bottom: 30px;
}

.input .search {
    position: absolute;
    left: 15px;
    top: 15px;
}

.title {
    margin-bottom: 25px;
}

.list::-webkit-scrollbar {
    display: none;
}

.list .items {
    display: flex;
}

.list .items:last-child {
    margin-bottom: 0px;
}

.avatar {
    margin-right: 20px;
}

.info .name {
    margin-bottom: 10px;
}