.into .profile {
    display: flex;
    margin-bottom: 40px;
}

.avatar {
    margin-right: 20px;
}

.title {
    color: #7A7886;
    margin-bottom: 10px;
}

.desc {
    color:#514F5B;
}

.label:last-child {
    margin-bottom: 55px;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.text-modal {
    margin-bottom: 50px;
}

.modal-content {
    padding: 35px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
    border-radius: 25px;
}

.modal-body button {
    float: right;
}

.pin {
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
}

.pin input {
    width: 53px;
    height: 65px;
    margin-right: 23px;
    border: 1px solid rgba(169, 169, 169, 0.6);
    box-sizing: border-box;
    box-shadow: 0px 10px 75px rgba(147, 147, 147, 0.1);
    border-radius: 10px;
    font-size: 30px;
    color: #3A3D42;
    font-weight: bold;
    text-align: center;
}

.pin input:focus {
    border: 1px solid #6379F4 !important;
    box-shadow: 0px 10px 75px rgba(147, 147, 147, 0.1);
    border-radius: 10px;
    outline: none;
}

.pin input:last-child {
    margin-right: 0;
}

.close span {
    margin: 0;
}

@media screen and (max-width: 576px) {
    .pin input {
        margin-right: auto;
    }
}